In [2]:
import pandas as pd
import numpy as np

In [3]:
df=pd.read_csv(r"D:\Data Analytics\datasets\cgpa\cgpa.csv")

In [4]:
df.head()

   rollno      cgpa  rank
0       1  5.215008  9000
1       2  6.161833  9001
2       3  8.301801  9002
3       4  6.889414  9003
4       5  8.393946  9004

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500000 entries, 0 to 499999
Data columns (total 3 columns):
rollno    500000 non-null int64
cgpa      500000 non-null float64
rank      500000 non-null int64
dtypes: float64(1), int64(2)
memory usage: 11.4 MB

In [6]:
#writing function to change cgpa into grade
def cgpa_to_grade(item):
    cgpa=item.loc['cgpa']
    if cgpa>8:
        return 'A'
    else:
        return 'B'

In [7]:
%%time
df['grade']=df.apply(cgpa_to_grade,axis=1)
df['grade'].value_counts()

Wall time: 20.3 s

In [8]:
def cgpa_to_grade_2(item):
    if item >= 8 and item <10:
        return 'A'
    elif item>=6 and item<8:
        return 'B'
    elif item>=4 and item<6:
        return 'B'
    else:
        return 'D'

In [9]:
%%time
df['grade2']=df['cgpa'].apply(cgpa_to_grade_2)
df['grade2'].value_counts()

Wall time: 295 ms

In [10]:
df.tail(20)

        rollno      cgpa    rank grade grade2
499980  499981  9.019354  508980     A      A
499981  499982  7.199021  508981     B      B
499982  499983  5.314654  508982     B      B
499983  499984  8.823959  508983     A      A
499984  499985  9.570014  508984     A      A
499985  499986  7.610885  508985     B      B
499986  499987  6.466133  508986     B      B
499987  499988  5.588674  508987     B      B
499988  499989  8.681556  508988     A      A
499989  499990  8.504246  508989     A      A
499990  499991  8.841961  508990     A      A
499991  499992  6.136499  508991     B      B
499992  499993  7.096307  508992     B      B
499993  499994  7.769875  508993     B      B
499994  499995  5.747173  508994     B      B
499995  499996  9.387890  508995     A      A
499996  499997  9.094913  508996     A      A
499997  499998  8.430407  508997     A      A
499998  499999  7.329542  508998     B      B
499999  500000  9.358222  508999     A      A

In [11]:
df_2=pd.read_csv('D:/Data Analytics/datasets/Blood Donation/training.csv')

In [12]:
df_2.head()

,Unnamed: 0,Months since Last Donation,Number of Donations,Total Volume Donated (c.c.),Months since First Donation,Made Donation in March 2007
0,619,2,50,12500,98,1
1,664,0,13,3250,28,1
2,441,1,16,4000,35,1
3,160,2,20,5000,45,1
4,358,1,24,6000,77,0

In [13]:
df_2.rename(columns={'Unnamed: 0':'id'}, inplace=True)

In [14]:
df_2.head()

,id,Months since Last Donation,Number of Donations,Total Volume Donated (c.c.),Months since First Donation,Made Donation in March 2007
0,619,2,50,12500,98,1
1,664,0,13,3250,28,1
2,441,1,16,4000,35,1
3,160,2,20,5000,45,1
4,358,1,24,6000,77,0

In [15]:
def id_contains(item):
    x= str(item)
    if '6' in x:
        a='contains 6'
    else:
        a = 'no 6'
    return a

In [16]:
df_2['out']=df_2['id'].apply(id_contains)

In [17]:
df_2.head()

,id,Months since Last Donation,Number of Donations,Total Volume Donated (c.c.),Months since First Donation,Made Donation in March 2007,out
0,619,2,50,12500,98,1,contains 6
1,664,0,13,3250,28,1,contains 6
2,441,1,16,4000,35,1,no 6
3,160,2,20,5000,45,1,contains 6
4,358,1,24,6000,77,0,no 6

In [18]:
def out_contains(item):
    if 'con' in item or 'tain' in item:
        a='got you'
    else:
        a = 'got you too'
    return a

In [19]:
df_2['out2']=df_2['out'].apply(out_contains)

In [20]:
df_2.head()

,id,Months since Last Donation,Number of Donations,Total Volume Donated (c.c.),Months since First Donation,Made Donation in March 2007,out,out2
0,619,2,50,12500,98,1,contains 6,got you
1,664,0,13,3250,28,1,contains 6,got you
2,441,1,16,4000,35,1,no 6,got you too
3,160,2,20,5000,45,1,contains 6,got you
4,358,1,24,6000,77,0,no 6,got you too

In [21]:
df_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 576 entries, 0 to 575
Data columns (total 8 columns):
id                             576 non-null int64
Months since Last Donation     576 non-null int64
Number of Donations            576 non-null int64
Total Volume Donated (c.c.)    576 non-null int64
Months since First Donation    576 non-null int64
Made Donation in March 2007    576 non-null int64
out                            576 non-null object
out2                           576 non-null object
dtypes: int64(6), object(2)
memory usage: 36.1+ KB

In [22]:
import numpy as np
from datetime import datetime

In [23]:
def float_to_date(date):
    if np.isnan(date):
        return np.nan
    
    date=str(int(date))
    year=date[-4:]
    if int(year)<1900: return np.nan
    day=date[-6:-4]
    if day==np.nan or day=='': day='01'
        
    month=date[0:-6]
    if month=='': month='01'
    date=datetime(int(year),int(month),int(day))
    return date

In [24]:
float_to_date(1957.0)

datetime.datetime(1957, 1, 1, 0, 0)

In [25]:
DOB=pd.Series([11111911,1957,np.NaN,1957.0,315])

In [26]:
DOB.apply(float_to_date)

0   1911-11-11
1   1957-01-01
2          NaT
3   1957-01-01
4          NaT
dtype: datetime64[ns]

In [27]:
df

        rollno      cgpa    rank grade grade2
0            1  5.215008    9000     B      B
1            2  6.161833    9001     B      B
2            3  8.301801    9002     A      A
3            4  6.889414    9003     B      B
4            5  8.393946    9004     A      A
5            6  5.460920    9005     B      B
6            7  9.208346    9006     A      A
7            8  6.419625    9007     B      B
8            9  8.987262    9008     A      A
9           10  6.580631    9009     B      B
10          11  6.497459    9010     B      B
11          12  9.184521    9011     A      A
12          13  8.290301    9012     A      A
13          14  5.076682    9013     B      B
14          15  9.125899    9014     A      A
15          16  5.338948    9015     B      B
16          17  7.560300    9016     B      B
17          18  8.671263    9017     A      A
18          19  8.600598    9018     A      A
19          20  8.693619    9019     A      A
20          21  5.578591    9020     B      B
21          22  7.641501    9021     B      B
22          23  8.983095    9022     A      A
23          24  9.083740    9023     A      A
24          25  9.591179    9024     A      A
25          26  6.574617    9025     B      B
26          27  8.853235    9026     A      A
27          28  8.983724    9027     A      A
28          29  6.841238    9028     B      B
29          30  5.362134    9029     B      B
...        ...       ...     ...   ...    ...
499970  499971  6.808769  508970     B      B
499971  499972  7.593674  508971     B      B
499972  499973  6.389817  508972     B      B
499973  499974  6.831878  508973     B      B
499974  499975  5.150766  508974     B      B
499975  499976  9.996341  508975     A      A
499976  499977  6.377192  508976     B      B
499977  499978  6.648367  508977     B      B
499978  499979  8.771985  508978     A      A
499979  499980  9.512304  508979     A      A
499980  499981  9.019354  508980     A      A
499981  499982  7.199021  508981     B      B
499982  499983  5.314654  508982     B      B
499983  499984  8.823959  508983     A      A
499984  499985  9.570014  508984     A      A
499985  499986  7.610885  508985     B      B
499986  499987  6.466133  508986     B      B
499987  499988  5.588674  508987     B      B
499988  499989  8.681556  508988     A      A
499989  499990  8.504246  508989     A      A
499990  499991  8.841961  508990     A      A
499991  499992  6.136499  508991     B      B
499992  499993  7.096307  508992     B      B
499993  499994  7.769875  508993     B      B
499994  499995  5.747173  508994     B      B
499995  499996  9.387890  508995     A      A
499996  499997  9.094913  508996     A      A
499997  499998  8.430407  508997     A      A
499998  499999  7.329542  508998     B      B
499999  500000  9.358222  508999     A      A

[500000 rows x 5 columns]

In [28]:
df1=df.groupby(['cgpa'],as_index=False).agg({
                                            'rollno':{'count','mean'},
                                            'rank':{'min','mean'}
                                            
                                            })

In [29]:
df1.add_suffix('_count').reset_index()

         index cgpa_count rollno_count            rank_count
                   _count  count_count mean_count  min_count mean_count
0            0   5.000001            1      68259      77258      77258
1            1   5.000075            1     421676     430675     430675
2            2   5.000083            1     392859     401858     401858
3            3   5.000088            1     488445     497444     497444
4            4   5.000091            1     488134     497133     497133
5            5   5.000106            1     386330     395329     395329
6            6   5.000111            1      76204      85203      85203
7            7   5.000126            1     341776     350775     350775
8            8   5.000127            1     371838     380837     380837
9            9   5.000131            1     235768     244767     244767
10          10   5.000133            1     436281     445280     445280
11          11   5.000134            1     104872     113871     113871
12          12   5.000143            1      95322     104321     104321
13          13   5.000149            1     341466     350465     350465
14          14   5.000153            1     469530     478529     478529
15          15   5.000174            1     393971     402970     402970
16          16   5.000191            1     319909     328908     328908
17          17   5.000194            1     180744     189743     189743
18          18   5.000209            1     147437     156436     156436
19          19   5.000224            1     314639     323638     323638
20          20   5.000225            1      28054      37053      37053
21          21   5.000230            1     236211     245210     245210
22          22   5.000235            1      26359      35358      35358
23          23   5.000268            1      43019      52018      52018
24          24   5.000271            1     325378     334377     334377
25          25   5.000273            1      56166      65165      65165
26          26   5.000287            1     260494     269493     269493
27          27   5.000296            1     461488     470487     470487
28          28   5.000300            1     201609     210608     210608
29          29   5.000305            1     265074     274073     274073
...        ...        ...          ...        ...        ...        ...
499970  499970   9.999720            1     231074     240073     240073
499971  499971   9.999751            1     338681     347680     347680
499972  499972   9.999768            1     405650     414649     414649
499973  499973   9.999773            1      99827     108826     108826
499974  499974   9.999791            1     128196     137195     137195
499975  499975   9.999797            1     277163     286162     286162
499976  499976   9.999802            1     360134     369133     369133
499977  499977   9.999842            1      48500      57499      57499
499978  499978   9.999846            1     476268     485267     485267
499979  499979   9.999855            1     209380     218379     218379
499980  499980   9.999861            1     363859     372858     372858
499981  499981   9.999871            1     432918     441917     441917
499982  499982   9.999876            1     331557     340556     340556
499983  499983   9.999877            1      24712      33711      33711
499984  499984   9.999881            1     304854     313853     313853
499985  499985   9.999923            1     152558     161557     161557
499986  499986   9.999924            1     389474     398473     398473
499987  499987   9.999934            1     385009     394008     394008
499988  499988   9.999936            1     255117     264116     264116
499989  499989   9.999945            1     267698     276697     276697
499990  499990   9.999952            1     137940     146939     146939
499991  499991   9.999955            1      41565      50564      50564
499992  499992   9.999961            1     115540     124539     124539
499993  499993   9.999964            1     254617     263616     263616
499994  499994   9.999967            1     472676     481675     481675
499995  499995   9.999968            1     204394     213393     213393
499996  499996   9.999986            1     138370     147369     147369
499997  499997   9.999993            1     306879     315878     315878
499998  499998   9.999994            1      20093      29092      29092
499999  499999   9.999999            1     167992     176991     176991

[500000 rows x 6 columns]

In [30]:
df.head()

   rollno      cgpa  rank grade grade2
0       1  5.215008  9000     B      B
1       2  6.161833  9001     B      B
2       3  8.301801  9002     A      A
3       4  6.889414  9003     B      B
4       5  8.393946  9004     A      A

In [42]:
bins=[1,7,9]
df['cgpa_bin']=pd.cut(df['cgpa'],bins)

In [43]:
df['cgpa_bin'].value_counts()

(1, 7]    200796
(7, 9]    199401
Name: cgpa_bin, dtype: int64

In [72]:
df.dropna

<bound method DataFrame.dropna of         rollno      cgpa    rank grade grade2                rank_bin  \
0            1  5.215008    9000     B      B  (8500.001, 175666.333]
1            2  6.161833    9001     B      B  (8500.001, 175666.333]
2            3  8.301801    9002     A      A  (8500.001, 175666.333]
3            4  6.889414    9003     B      B  (8500.001, 175666.333]
4            5  8.393946    9004     A      A  (8500.001, 175666.333]
5            6  5.460920    9005     B      B  (8500.001, 175666.333]
6            7  9.208346    9006     A      A  (8500.001, 175666.333]
7            8  6.419625    9007     B      B  (8500.001, 175666.333]
8            9  8.987262    9008     A      A  (8500.001, 175666.333]
9           10  6.580631    9009     B      B  (8500.001, 175666.333]
10          11  6.497459    9010     B      B  (8500.001, 175666.333]
11          12  9.184521    9011     A      A  (8500.001, 175666.333]
12          13  8.290301    9012     A      A  (8500.001, 175666.333]
13          14  5.076682    9013     B      B  (8500.001, 175666.333]
14          15  9.125899    9014     A      A  (8500.001, 175666.333]
15          16  5.338948    9015     B      B  (8500.001, 175666.333]
16          17  7.560300    9016     B      B  (8500.001, 175666.333]
17          18  8.671263    9017     A      A  (8500.001, 175666.333]
18          19  8.600598    9018     A      A  (8500.001, 175666.333]
19          20  8.693619    9019     A      A  (8500.001, 175666.333]
20          21  5.578591    9020     B      B  (8500.001, 175666.333]
21          22  7.641501    9021     B      B  (8500.001, 175666.333]
22          23  8.983095    9022     A      A  (8500.001, 175666.333]
23          24  9.083740    9023     A      A  (8500.001, 175666.333]
24          25  9.591179    9024     A      A  (8500.001, 175666.333]
25          26  6.574617    9025     B      B  (8500.001, 175666.333]
26          27  8.853235    9026     A      A  (8500.001, 175666.333]
27          28  8.983724    9027     A      A  (8500.001, 175666.333]
28          29  6.841238    9028     B      B  (8500.001, 175666.333]
29          30  5.362134    9029     B      B  (8500.001, 175666.333]
...        ...       ...     ...   ...    ...                     ...
499970  499971  6.808769  508970     B      B  (342332.667, 508999.0]
499971  499972  7.593674  508971     B      B  (342332.667, 508999.0]
499972  499973  6.389817  508972     B      B  (342332.667, 508999.0]
499973  499974  6.831878  508973     B      B  (342332.667, 508999.0]
499974  499975  5.150766  508974     B      B  (342332.667, 508999.0]
499975  499976  9.996341  508975     A      A  (342332.667, 508999.0]
499976  499977  6.377192  508976     B      B  (342332.667, 508999.0]
499977  499978  6.648367  508977     B      B  (342332.667, 508999.0]
499978  499979  8.771985  508978     A      A  (342332.667, 508999.0]
499979  499980  9.512304  508979     A      A  (342332.667, 508999.0]
499980  499981  9.019354  508980     A      A  (342332.667, 508999.0]
499981  499982  7.199021  508981     B      B  (342332.667, 508999.0]
499982  499983  5.314654  508982     B      B  (342332.667, 508999.0]
499983  499984  8.823959  508983     A      A  (342332.667, 508999.0]
499984  499985  9.570014  508984     A      A  (342332.667, 508999.0]
499985  499986  7.610885  508985     B      B  (342332.667, 508999.0]
499986  499987  6.466133  508986     B      B  (342332.667, 508999.0]
499987  499988  5.588674  508987     B      B  (342332.667, 508999.0]
499988  499989  8.681556  508988     A      A  (342332.667, 508999.0]
499989  499990  8.504246  508989     A      A  (342332.667, 508999.0]
499990  499991  8.841961  508990     A      A  (342332.667, 508999.0]
499991  499992  6.136499  508991     B      B  (342332.667, 508999.0]
499992  499993  7.096307  508992     B      B  (342332.667, 508999.0]
499993  499994  7.769875  508993     B      B  (342332.667, 508999.0]
499994  499995  5.747173  508994     B      B  (342332.667, 508999.0]
499995  499996  9.387890  508995     A      A  (342332.667, 508999.0]
499996  499997  9.094913  508996     A      A  (342332.667, 508999.0]
499997  499998  8.430407  508997     A      A  (342332.667, 508999.0]
499998  499999  7.329542  508998     B      B  (342332.667, 508999.0]
499999  500000  9.358222  508999     A      A  (342332.667, 508999.0]

          cgpa_bin
0       (1.0, 7.0]
1       (1.0, 7.0]
2       (7.0, 9.0]
3       (1.0, 7.0]
4       (7.0, 9.0]
5       (1.0, 7.0]
6              NaN
7       (1.0, 7.0]
8       (7.0, 9.0]
9       (1.0, 7.0]
10      (1.0, 7.0]
11             NaN
12      (7.0, 9.0]
13      (1.0, 7.0]
14             NaN
15      (1.0, 7.0]
16      (7.0, 9.0]
17      (7.0, 9.0]
18      (7.0, 9.0]
19      (7.0, 9.0]
20      (1.0, 7.0]
21      (7.0, 9.0]
22      (7.0, 9.0]
23             NaN
24             NaN
25      (1.0, 7.0]
26      (7.0, 9.0]
27      (7.0, 9.0]
28      (1.0, 7.0]
29      (1.0, 7.0]
...            ...
499970  (1.0, 7.0]
499971  (7.0, 9.0]
499972  (1.0, 7.0]
499973  (1.0, 7.0]
499974  (1.0, 7.0]
499975         NaN
499976  (1.0, 7.0]
499977  (1.0, 7.0]
499978  (7.0, 9.0]
499979         NaN
499980         NaN
499981  (7.0, 9.0]
499982  (1.0, 7.0]
499983  (7.0, 9.0]
499984         NaN
499985  (7.0, 9.0]
499986  (1.0, 7.0]
499987  (1.0, 7.0]
499988  (7.0, 9.0]
499989  (7.0, 9.0]
499990  (7.0, 9.0]
499991  (1.0, 7.0]
499992  (7.0, 9.0]
499993  (7.0, 9.0]
499994  (1.0, 7.0]
499995         NaN
499996         NaN
499997  (7.0, 9.0]
499998  (7.0, 9.0]
499999         NaN

[500000 rows x 7 columns]>

In [181]:
import numpy as np
from scipy.optimize import minimize

ImportError: cannot import name 'maximize' from 'scipy.optimize' (C:\Users\sameer\Anaconda3\lib\site-packages\scipy\optimize\__init__.py)

In [75]:
print(avg_value(7))

nan

In [80]:
df['cgpa'][df['cgpa_bin']==]

Series([], Name: cgpa, dtype: float64)

In [88]:
df['cgpa_bin'].head()

0    (1, 7]
1    (1, 7]
2    (7, 9]
3    (1, 7]
4    (7, 9]
Name: cgpa_bin, dtype: category
Categories (2, interval[int64]): [(1, 7] < (7, 9]]

In [90]:
df['Cgpa_bin_2'] = pd.arrays.IntervalArray(df['cgpa_bin'] )

In [100]:
table=pd.pivot_table(df,values='cgpa',index='Cgpa_bin_2',aggfunc='mean').reset_index()

In [101]:
table

   Cgpa_bin_2      cgpa
0  (1.0, 7.0]  6.000451
1  (7.0, 9.0]  7.999539

In [161]:
bins=[0,6,9]
df['cgpa_bin']=pd.cut(df['cgpa'],bins)
df['cgpa_bin'].value_counts()
df['Cgpa_bin_2'] = pd.arrays.IntervalArray(df['cgpa_bin'] )
table=pd.pivot_table(df,values='cgpa',index='Cgpa_bin_2',aggfunc='mean').reset_index()
table
#diff=table.loc[1,'cgpa']-table.loc[0,'cgpa']
#diff

   Cgpa_bin_2      cgpa
0  (0.0, 6.0]  5.499796
1  (6.0, 9.0]  7.497691

In [170]:
def objective(bins):
    
    df['cgpa_bin']=pd.cut(df['cgpa'],bins)
    df['Cgpa_bin_2'] = pd.arrays.IntervalArray(df['cgpa_bin'] )
    table=pd.pivot_table(df,values='cgpa',index='Cgpa_bin_2',aggfunc='mean').reset_index()
    diff=table.loc[1,'cgpa']-table.loc[0,'cgpa']
    return diff

In [171]:
objective([0,6,9])

1.9978945151100085

In [172]:
def constraint1(bins):
    return bins[1]-bins[0]

In [173]:
def constraint2(bins):
    return bins[2]-bins[1]

In [174]:
def constraint3(bins):
    return bins[1]-5

In [175]:
# initial guesses
n = 3
bins0 = np.zeros(n)
bins0[0] = 1
bins0[1] = 6
bins0[2]=9
bins0

array([1., 6., 9.])

In [176]:
# show initial objective
print('Initial SSE Objective: ' + str(objective(bins0)))

Initial SSE Objective: 1.9978945151100085

In [179]:
# optimize
b = (1.0,10.0)
bnds = (b, b, b)
con1 = {'type': 'ineq', 'fun': constraint1}
con2 = {'type': 'ineq', 'fun': constraint2}
con3 = {'type': 'ineq', 'fun': constraint3}

cons = ([con1,con2,con3])
solution = minimize(objective,bins0,method='SLSQP',
                    bounds=bnds,constraints=cons)
bins=solution.bins

AttributeError: bins

In [180]:
print(bins)

[0, 6, 9]

In [ ]:
# show final objective
print('Final SSE Objective: ' + str(objective(bins2)))

# print solution
print('Solution')
print('bin1 = ' + str(bins2[0]))
print('bin2 = ' + str(bins2[1]))
print('bin3 = ' + str(bins2[2]))

In [137]:
objective([1.0.7.0,9.0])

SyntaxError: invalid syntax (<ipython-input-137-623c8b974213>, line 1)

In [136]:
import numpy as np
from scipy.optimize import minimize

def objective(x):
    return x[0]*x[3]*(x[0]+x[1]+x[2])+x[2]

def constraint1(x):
    return x[0]*x[1]*x[2]*x[3]-25.0

def constraint2(x):
    sum_eq = 40.0
    for i in range(4):
        sum_eq = sum_eq - x[i]**2
    return sum_eq

# initial guesses
n = 4
x0 = np.zeros(n)
x0[0] = 1.0
x0[1] = 5.0
x0[2] = 5.0
x0[3] = 1.0

# show initial objective
print('Initial SSE Objective: ' + str(objective(x0)))

# optimize
b = (1.0,5.0)
bnds = (b, b, b, b)
con1 = {'type': 'ineq', 'fun': constraint1}
con2 = {'type': 'eq', 'fun': constraint2}
cons = ([con1,con2])
solution = minimize(objective,x0,method='SLSQP',\
                    bounds=bnds,constraints=cons)
x = solution.x

# show final objective
print('Final SSE Objective: ' + str(objective(x)))

# print solution
print('Solution')
print('x1 = ' + str(x[0]))
print('x2 = ' + str(x[1]))
print('x3 = ' + str(x[2]))
print('x4 = ' + str(x[3]))

Initial SSE Objective: 16.0
Final SSE Objective: 17.01401724563517
Solution
x1 = 1.0
x2 = 4.742996096883977
x3 = 3.8211546234095715
x4 = 1.379407645075325