In [3]:
import pandas as pd
import numpy as np

In [4]:
df=pd.read_csv('../datasets/cgpa/cgpa.csv')

FileNotFoundError: File b'../datasets/cgpa/cgpa.csv' does not exist

In [ ]:
df.head()

In [ ]:
df.info()

In [ ]:
#writing function to change cgpa into grade
def cgpa_to_grade(item):
    cgpa=item.loc['cgpa']
    if cgpa>8:
        return 'A'
    else:
        return 'B'

In [ ]:
%%time
df['grade']=df.apply(cgpa_to_grade,axis=1)
df['grade'].value_counts()

In [ ]:
def cgpa_to_grade_2(item):
    if item >= 8 and item <10:
        return 'A'
    elif item>=6 and item<8:
        return 'B'
    elif item>=4 and item<6:
        return 'B'
    else:
        return 'D'

In [6]:
%%time
df['grade2']=df['cgpa'].apply(cgpa_to_grade_2)
df['grade2'].value_counts()

NameError: name 'df' is not defined

In [ ]:
df.tail(20)

In [9]:
df_2=pd.read_csv('D:/Data Analytics/datasets/Blood Donation/training.csv')

In [10]:
df_2.head()

,Unnamed: 0,Months since Last Donation,Number of Donations,Total Volume Donated (c.c.),Months since First Donation,Made Donation in March 2007
0,619,2,50,12500,98,1
1,664,0,13,3250,28,1
2,441,1,16,4000,35,1
3,160,2,20,5000,45,1
4,358,1,24,6000,77,0

In [11]:
df_2.rename(columns={'Unnamed: 0':'id'}, inplace=True)

In [12]:
df_2.head()

,id,Months since Last Donation,Number of Donations,Total Volume Donated (c.c.),Months since First Donation,Made Donation in March 2007
0,619,2,50,12500,98,1
1,664,0,13,3250,28,1
2,441,1,16,4000,35,1
3,160,2,20,5000,45,1
4,358,1,24,6000,77,0

In [13]:
def id_contains(item):
    x= str(item)
    if '6' in x:
        a='contains 6'
    else:
        a = 'no 6'
    return a

In [14]:
df_2['out']=df_2['id'].apply(id_contains)

In [15]:
df_2.head()

,id,Months since Last Donation,Number of Donations,Total Volume Donated (c.c.),Months since First Donation,Made Donation in March 2007,out
0,619,2,50,12500,98,1,contains 6
1,664,0,13,3250,28,1,contains 6
2,441,1,16,4000,35,1,no 6
3,160,2,20,5000,45,1,contains 6
4,358,1,24,6000,77,0,no 6

In [16]:
def out_contains(item):
    if 'con' in item or 'tain' in item:
        a='got you'
    else:
        a = 'got you too'
    return a

In [17]:
df_2['out2']=df_2['out'].apply(out_contains)

In [18]:
df_2.head()

,id,Months since Last Donation,Number of Donations,Total Volume Donated (c.c.),Months since First Donation,Made Donation in March 2007,out,out2
0,619,2,50,12500,98,1,contains 6,got you
1,664,0,13,3250,28,1,contains 6,got you
2,441,1,16,4000,35,1,no 6,got you too
3,160,2,20,5000,45,1,contains 6,got you
4,358,1,24,6000,77,0,no 6,got you too

In [21]:
df_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 576 entries, 0 to 575
Data columns (total 8 columns):
id                             576 non-null int64
Months since Last Donation     576 non-null int64
Number of Donations            576 non-null int64
Total Volume Donated (c.c.)    576 non-null int64
Months since First Donation    576 non-null int64
Made Donation in March 2007    576 non-null int64
out                            576 non-null object
out2                           576 non-null object
dtypes: int64(6), object(2)
memory usage: 36.1+ KB

In [24]:
import numpy as np
from datetime import datetime

In [164]:
def float_to_date(date):
    if np.isnan(date):
        return np.nan
    
    date=str(int(date))
    year=date[-4:]
    if int(year)<1900: return np.nan
    day=date[-6:-4]
    if day==np.nan or day=='': day='01'
        
    month=date[0:-6]
    if month=='': month='01'
    date=datetime(int(year),int(month),int(day))
    return date

In [165]:
float_to_date(1957.0)

datetime.datetime(1957, 1, 1, 0, 0)

In [166]:
DOB=pd.Series([11111911,1957,np.NaN,1957.0,315])

In [149]:
DOB.apply(float_to_date)

0   1911-11-11
1   1957-01-01
2          NaT
3   1957-01-01
4          NaT
dtype: datetime64[ns]